#parent {
    display: inline-block;
    background-color: blue;
    width: 300px;
    height: 300px;
  }
  
  .child {
    background-color: red;
    position: absolute;

  }
  
  #child1 {
    width: 300px;
    height: 20px;
    top: 50px;
  }
  
  #child2 {
    height: 300px;
    width: 20px;
    left: 50px;
  }